[Desktop Entry]
Type=Application
Name=Mihomo Party
Comment=Graphical interface for managing Mihomo subscriptions, profiles, and settings
Comment[zh_CN]=用于管理 Mihomo 订阅、配置文件和设置的图形界面
Comment[zh_TW]=用於管理 Mihomo 訂閱、個人資料和設定的圖形介面
Exec=/usr/bin/mihomo-party %U
Icon=mihomo-party
Terminal=false
Categories=Utility;
MimeType=x-scheme-handler/clash;x-scheme-handler/mihomo;
StartupWMClass=mihomo-party
