#!/usr/bin/env xdg-open
[Desktop Entry]
Name=FriCAS
Keywords=computer algebra system;CAS;
Keywords[zh_CN]=计算机代数系统;CAS;
Comment=Fricas Computer Algebra System
Comment[zh_CN]=FriCAS 计算机代数系统
Exec=fricas
Icon=fricas
Terminal=true
Type=Application
Categories=Education;Math;
